@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="wrapper">
        <div class="form-control-lg">
            <form id="form_cupon" runat="server" method="post">

                <div class="col-md6 text-center mb-5">

                    <label class="h3" ID="lblBienvenida" runat="server"> Registro de Cupones Krispy Kreme </label>
                </div>
                <br />
                <div>
                    <input name="txtCupon" class="form-control" runat="server" placeholder="Código de la promoción...">
                </div>

                <br />

                <div class="modal-footer">
                    <button type="submit" ID="btnRegistrar" align="center" class="btn btn-success">Registrar</button>
                </div>

            </form>

        </div>
        @{
            if (TempData["msg"] != null)
            {
                <script type="text/javascript">
                alert('@TempData["msg"]');
                </script>
            }
        }
    </div>
}